<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to my first website</title>
        <link href="style.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
        <h3>Welcome to my first website</h3>
        <img src="http://127.0.0.1:5000/welcome.png" />
        </br>
        <div class="My hobby">
            My hobby
            <li class="hobby">sport climbing</div></li>
            <li class="hobby">programming</div> </li>

        </div>

    </body>
</html>